.formulario {
    margin: auto;
    margin-top: 2rem;
    padding: auto;
}

.formulario__etiqueta {
    display: block;
    margin: 0.5rem;
    margin-left: 35rem;
}

.formulario__btn {
    margin: auto;
    margin-top: 1rem;
    margin-left: 35rem;
}

.formulario__btn__voltar {
    margin-top: 1rem;
}

.formulario__txt {
    margin: auto;
    margin-left: 35rem;
}